.List {
    height: 205px;
    background: #f5f5f5;
    padding: 20px 0;
}
.List li {
    list-style: none;
    float: left;
    background: #fff;
    width: 175px;
    height: 120px;
    margin-left: 15px;
}
.List li:first-child:hover{
    background: rgb(255,87,34);
    transition: 500ms;
}
.List li:first-child:hover a {
    color: #fff;
    transition: 500ms;
}
.List li a {
    text-decoration: none;
    color: #666;
    text-align: center;
}
.small-font {
    font-size: 10px;
    margin-top: 40px;
}